<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="model.AdminAccount" alias="AdminAccount"/>
		<typeAlias type="model.Alarm" alias="Alarm"/>
		<typeAlias type="model.Buy" alias="Buy"/>
		<typeAlias type="model.Category" alias="Category"/>
		<typeAlias type="model.Deal" alias="Deal"/>
		<typeAlias type="model.Member" alias="Member"/>
		<typeAlias type="model.MemberAccount" alias="MemberAccount"/>
		<typeAlias type="model.Pay" alias="Pay"/>
		<typeAlias type="model.Review" alias="Review"/>
		<typeAlias type="model.Sell" alias="Sell"/>
		<typeAlias type="model.WishList" alias="WishList"/>
		<typeAlias type="model.Search_kgj" alias="Search_kgj"/>
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jdbc/oracle"/>
			</dataSource>
		</environment>		
	</environments>
	
	<mappers>
		<mapper resource="mapper/kgj.xml"/>
	</mappers>
	
</configuration>