<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="model.Buy" alias="Buy"/>
		<typeAlias type="model.Deal" alias="Deal"/>	
		<typeAlias type="model.Deal_Sell_cyg" alias="DealSell"/>
		<typeAlias type="model.Member" alias="Member" />	
		<typeAlias type="model.Search_cyg" alias="Search"/>			
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jdbc/oracle"/>
			</dataSource>
		</environment>		
	</environments>
	
	<mappers>
		<mapper resource="mapper/Mypage.xml"/>
	</mappers>
	
</configuration>
